<template>
<div>
    <div v-for="(warehouse,index) in no_variant_warehouses" :key="index">
      <warehouse-price-scheme-form : warehouse></warehouse-price-scheme-form>
    </div>
</div>
</template>

<script>
export default {
  name: "no-variant-pricing-master-component",
  props : ['no_variant_warehouses']
}
</script>

<style scoped>

</style>
