<template>
<div>
  <h1>Discount Information</h1>
  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
  </table>
</div>
</template>

<script>
export default {
  name: "discount-information"
}
</script>

<style scoped>

</style>
