<template>
<div>
  <ol v-for="(content,index) in packaging_content_information" :key="index">
    <li>{{ content }}</li>
  </ol>
</div>
</template>

<script>
export default {
  name: "packaging-content-information",
  props:[
    'packaging_content_information'
  ]

}
</script>

<style scoped>

</style>
