<template>
<div>
<h1>Please Select Variant Before adding Price and Schemes. </h1>
  <div>
    <variant-list :variants-list></variant-list>
    <div v-for="(warehouse,index) in warehouses" :key="index">
      <warehouse-price-scheme-form :warehouse></warehouse-price-scheme-form>
    </div>
  </div>
</div>
</template>

<script>
import VariantList from "@/components/pricing/with-variant/variant-list";
import WarehousePriceSchemeForm from "@/components/pricing/with-variant/warehouse-price-scheme-form";
export default {
  name: "with-variant-pricing-master-component",
  components: {WarehousePriceSchemeForm, VariantList},
  props :['variants-list']
}
</script>

<style scoped>

</style>
