<template>
  <Tutorial/>
</template>

<script>

export default {
  data(){
    return {
      post:{
        title : 'Aja miti 2022 april 8 gatey',
        description : 'Once we have the specific blog post\'s markdown file, we can access all the post\'s info. Including the YAML head data we set earlier. Like the post\'s descriotion, title, image, etc.'
      }
    }
  },
  head({ $seo }) {
    return $seo({
      title: this.post.title,
      description: this.post.description || 'fallback description',
      keywords: 'blog, listing, articles',
      openGraph: {
        image : {
          url: 'https://frostbutter.com/img/nick.jpg',
        }

    },
  });
  },
}

</script>
