<template>
  <div>

    <h1>Price and Scheme Settings</h1>

    <div class="row">
      <discount-information></discount-information>
      <packaging-content-information :packaging_content_information></packaging-content-information>
      <product-information></product-information>
    </div>

    <div v-if="has_variants">
      <with-variant-pricing-master-component :variants :with_variant_warehouse></with-variant-pricing-master-component>
    </div>
    <div v-else>
      <no-variant-pricing-master-component :no_variant_warehouses></no-variant-pricing-master-component>
    </div>
  </div>


</template>

<script>
import discountInformation from "@/components/pricing/discount-information";
import packagingContentInformation from "@/components/pricing/packaging-content";
import productInformation from "@/components/pricing/product-information";

import withVariantPricingMasterComponent from "@/components/pricing/with-variant/pricing-master-component";
import noVariantPricingMasterComponent from "@/components/pricing/no-variant/pricing-master-component";
export default {
  name: "_product.vue",
  components:{
    discountInformation ,
    packagingContentInformation,
    productInformation,
    withVariantPricingMasterComponent,
    noVariantPricingMasterComponent
  },
  data(){
    return {
      has_variants :false,
      selected_variant : {},
      variants :[],
      packaging_content_information : [],

      /*no-variant-warehouse-price-scheme*/
      no_variant_warehouses : [],

      /*no-variant-warehouse-price-scheme*/
      with_variant_warehouse : []

    };
  },
  created(){
    // axios scheme setting api

    /*
    * .then ((response)=>{
    *    let product = reponse.product.
    *    let has_variants = product.has_variants;
    *     this.has_variants = has_variants;
    *
    *  if(this.has_variants){
    *   let variants_list = product.variants;
    *   this.variants = variants_list;
    *   this.selected_variant = this.variants[0];
    *   this.packaging_content_information = this.selected_variant['packaging_contains']
    *   this.with_variant_warehouses = product.warehouses;
    * }else{
    *   this.packaging_content_information = this.product['packaging_contains'];
    *  this.no_variant_warehouses = product.warehouses;
    * )
    *
    *
    *
    *
    * */


  }
}
</script>

<style scoped>

</style>
