<template>
<div>
  <price-setting :warehouse_price_setting>

  </price-setting>
  <scheme-master>
    <cash-scheme-master></cash-scheme-master>
    <item-scheme-master>
      <same-item-scheme></same-item-scheme>
      <different-item-scheme></different-item-scheme>
      <external-item-scheme></external-item-scheme>
    </item-scheme-master>
  </scheme-master>
</div>
</template>

<script>
export default {
  name: "warehouse-price-scheme-form"
}
</script>

<style scoped>

</style>
